<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.ibm.mobile.cordova.ibmpush"
    version="1.0.0-20140910-1402">

    <name>IBMPush Hybrid</name>
    <description>Cordova IBMPush Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,IBMBluemix,IBMPush,push,Bluemix,cloud,IBM</keywords>
    <repo>https://hub.jazz.net/git/bluemixmobilesdk/ibmpush-cordova</repo>

    <js-module src="www/IBMPushHybrid.js" name="hybrid">
        <clobbers target="IBMPush.hybrid" />
    </js-module>

    <dependency id="com.ibm.mobile.cordova.ibmbluemix" url="https://hub.jazz.net/git/bluemixmobilesdk/ibmbluemix-cordova"/>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="IBMPushHybrid">
                <param name="android-package" value="com.ibm.mobile.services.cordova.push.CDVIBMPush"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
            <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
		    <uses-permission android:name="android.permission.WAKE_LOCK" />
		    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
		    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
		    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
		    
		    <permission
       			 android:name="$PACKAGE_NAME.permission.C2D_MESSAGE"
       			 android:protectionLevel="signature" />
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
        	
        	<meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
            	 
            <service android:name="com.ibm.mobile.services.push.IBMPushIntentService" />

		    <receiver
	        	android:name="com.ibm.mobile.services.push.IBMPushBroadcastReceiver"
	            android:permission="com.google.android.c2dm.permission.SEND" >
	            <intent-filter>
	                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
	
	                <category android:name="$PACKAGE_NAME" />
	            </intent-filter>
	            <intent-filter>
              		<action android:name="android.intent.action.BOOT_COMPLETED" />

                	<category android:name="$PACKAGE_NAME" />
            	</intent-filter>		       
		    </receiver>
       		
         </config-file>
        
         <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
        	<intent-filter>
                <action android:name="$PACKAGE_NAME.IBMPushNotification" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </config-file>

        <source-file src="src/android/ibmpush.jar" target-dir="libs" />
        <source-file src="src/android/ibmpush-cordova.jar" target-dir="libs"/>
        <source-file src="src/android/android-support-v4.jar" target-dir="libs" />
        <source-file src="src/android/google-play-services.jar" target-dir="libs" />
        <source-file src="src/android/version.xml" target-dir="res/values"/>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="IBMPushHybrid">
                <param name="ios-package" value="CDVIBMPush"/>
            </feature>
        </config-file>


        <header-file src="src/ios/CDVIBMPush.h" />
        <source-file src="src/ios/CDVIBMPush.m" />
        
        <framework src="src/ios/IBMPush.framework" custom="true"/>

    </platform>
</plugin>