<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.ibm.mobile.cordova.ibmbluemix"
    version="1.0.0-20140902-1945">

    <name>IBMBluemix Hybrid</name>
    <description>Cordova IBMBluemix Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,IBMBluemix</keywords>
    <repo>https://hub.jazz.net/git/bluemixmobilesdk/ibmbluemix-cordova</repo>

	<js-module src="www/IBMBluemixHybrid.js" name="hybrid">
        <clobbers target="IBMBluemix.hybrid" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="IBMBluemixHybrid">
                <param name="android-package" value="com.ibm.mobile.services.cordova.core.CDVIBMBluemix"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        </config-file>

        <source-file src="src/android/ibmbluemix.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/ibmbluemix-cordova.jar" target-dir="libs" framework="true" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="IBMBluemixHybrid">
                <param name="ios-package" value="CDVIBMBluemix"/>
            </feature>
        </config-file>


        <header-file src="src/ios/CDVIBMBluemix.h" />
        <source-file src="src/ios/CDVIBMBluemix.m" />

        <framework src="src/ios/IBMBluemix.framework" custom="true"/>

    </platform>
</plugin>