<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.ibm.mobile.cordova.ibmdata"
    version="1.0.0-20140902-1945">

    <name>IBMData Hybrid</name>
    <description>Cordova IBMData Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,IBMData,IBMQuery</keywords>
    <repo>https://hub.jazz.net/git/bluemixmobilesdk/ibmdata-cordova</repo>

    <js-module src="www/IBMDataHybrid.js" name="hybrid">
        <clobbers target="IBMData.hybrid" />
    </js-module>

   <dependency id="com.ibm.mobile.cordova.ibmbluemix" url="https://hub.jazz.net/git/bluemixmobilesdk/ibmbluemix-cordova"/>
        
    <!-- android -->
    <platform name="android">
    
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="IBMDataHybrid">
                <param name="android-package" value="com.ibm.mobile.services.cordova.data.CDVIBMData"/>
            </feature>
        </config-file>
        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="IBMQueryHybrid">
                <param name="android-package" value="com.ibm.mobile.services.cordova.data.CDVIBMQuery"/>
            </feature>
        </config-file>
               
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>

        <source-file src="src/android/ibmdata.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/ibmfilesync.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/ibmdata-cordova.jar" target-dir="libs" framework="true" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="IBMDataHybrid">
                <param name="ios-package" value="CDVIBMData"/>
            </feature>
        </config-file>
        <config-file target="config.xml" parent="/*">
            <feature name="IBMQueryHybrid">
                <param name="ios-package" value="CDVIBMQuery"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVIBMData.h" />
        <source-file src="src/ios/CDVIBMData.m" />
        <header-file src="src/ios/CDVIBMQuery.h" />
        <source-file src="src/ios/CDVIBMQuery.m" />
                
        <framework src="libsqlite3.dylib" />
        <framework src="src/ios/IBMData.framework" custom="true"/>
        <framework src="src/ios/IBMFileSync.framework" custom="true"/>
    </platform>
</plugin>